#locationRollUp.shadow.pull-left

	a(href="/department/departmentname/devices")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*200+1)
			li.locationLabel Devices

	a(href="/department/departmentname/cloud_services")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*30+1)
			li.locationLabel Cloud Services

	a(href="/department/departmentname/locations")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*100+1)
			li.locationLabel Locations

	a(href="/department/departmentname/assets")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*40+1)
			li.locationLabel Assets

	a(href="/department/departmentname/accounts")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*340+1)
			li.locationLabel Accounts

	a(href="#")
		ul.locationRollUp.pull-left
			li.sum 72
			li.locationLabel Risk