#locationRollUp.shadow.pull-left

	a(href="/organization/mobile_devices")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*500+1)
			li.locationLabel Mobile Devices

	a(href="/organization/mobile_devices/users")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*700+1)
			li.locationLabel Users

	a(href="/organization/mobile_devices/services")
		ul.locationRollUp.pull-left
			li.sum 20
			li.locationLabel Services

	a(href="/organization/mobile_devices/organizations")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*100+1)
			li.locationLabel organizations

	a(href="/organization/mobile_devices/locations")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*3400+1)
			li.locationLabel Locations

	a(href="/organization/mobile_devices/countries")
		ul.locationRollUp.pull-left
			li.sum= Math.floor(Math.random()*193+1)
			li.locationLabel Countries