extends ../layouts/default

block content
	div.container
		.row
			.span12
				include ../includes/_organization_nav
				
		include ../includes/_organization_devices_filter_map

		.row
			.span12
				#organizationUsers
					- x = 93
					- for (i=0;i<=10;i++)
						div.deviceRow.pull-left.incident
							ul.deviceRisk.pull-left
								li.riskScore= (x--)
								li.riskLabel 
							ul.deviceMeta.pull-left
								li.devicename 
									a(href="/department/departmentname") Device Name
								li.deviceOwner
									a(href="/department/departmentname") Department Name
								li.location Location, Location
							div.pull-right
								ul.userClouds.pull-left
									li.cloudScore= Math.floor(Math.random()*30+1)
									li.cloudLabel Cloud Services
								ul.locations.pull-left
									li.locationsScore= Math.floor(Math.random()*9+1)
									li.locationsLabel Locations
								ul.userIncidents.pull-left
									li.incidentScore= Math.floor(Math.random()*9+1)
									li.incideLabel Incidents
					- for (i=0;i<=35;i++)
						div.deviceRow.pull-left
							ul.deviceRisk.pull-left
								li.riskScore= (x--)
								li.riskLabel 
							ul.deviceMeta.pull-left
								li.devicename 
									a(href="/department/departmentname") Device Name
								li.deviceOwner
									a(href="/department/departmentname") Department Name
								li.location Location, Location
							div.pull-right
								ul.userClouds.pull-left
									li.cloudScore= Math.floor(Math.random()*30+1)
									li.cloudLabel Cloud Services
								ul.locations.pull-left
									li.locationsScore= Math.floor(Math.random()*9+1)
									li.locationsLabel Locations
								ul.userIncidents.pull-left
									li.incidentScore= Math.floor(Math.random()*9+1)
									li.incideLabel Incidents


					
						
				

block document
	include ../includes/_organization_document
	script
		$(function(){
			$("#locationRollUp a:nth-child(2) ul, ul#organization_nav li:nth-child(1)").addClass('active');
		});